JWT_SECRET_KEY=mysecret

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=postgres_usr
POSTGRES_USERNAME=postgres_usr
POSTGRES_PWD=postgres_pwd

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_USER=rabbit
RABBITMQ_PWD=mq
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

CORS_ALLOWED_ORIGINS='["http://localhost", "http://127.0.0.1"]'
REQUESTS_PER_MINUTE_FOR_IP=50
