JWT_SECRET_KEY=mysecret

POSTGRES_DB_NAME=postgres_usr
POSTGRES_USER=postgres_usr
POSTGRES_PASSWORD=postgres_pwd

RABBITMQ_DEFAULT_USER=rabbit
RABBITMQ_DEFAULT_PASS=mq

CORS_ALLOWED_ORIGINS='["http://localhost", "http://127.0.0.1"]'
REQUESTS_PER_MINUTE_FOR_IP=50

CONSUMER_PREFETCH_LIMIT=5
